@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
/* #AD1AAF hover*/
.global-container {
    width: fit-content;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    background: url("friends.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    .text {
        text-align: center;
        color: white;
        position: relative;
        margin-top: 4rem;
        
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
        .button .submit-btn {
            min-width: 300px;
            height: 50px;
            font-size: 18px;
            font-weight: 800;
            color: white;
            background: transparent;
            border: 1px solid white;
            transition: 1s;
        }
        .button .submit-btn:hover {
            background-color: crimson;
        }
    }

    .photo img {
        border-radius: 50%;
        width: 20rem;
        height: 18rem;
        margin-top: 5em;
    }
}

@media screen and (max-width: 990px) {
    .container1 {
        flex-direction: column;

        .text {
            margin-top: 5em;
            text-align: justify;
            padding: 20px;

            h1 {
                text-align: center;
            } 
        }
    
    }
      
    @media screen and (max-width: 600px) {
        .container1 {
            flex-direction: column;
            
            .left-column {
                margin-top: 4em;
                padding: 20px;
                text-align: justify; 
            }
        }
    }
}

.container2 {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 90px;
    font-size: 25px;
    
    .block1 img {
        display: block;
        margin: auto; 
        height: 5rem; 
    }
    .block2 img {
        display: block;
        margin: auto;  
        height: 5rem; 
    }
    .block3 img {
        display: block;
        margin: auto; 
        height: 5rem;  
    }
    
}

